* {
  box-sizing: border-box;
}
.hero-card {
  background-size: cover;
  height: 12rem;
  color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.arrival-card{
  width: 100%;
  color: var(--cta-font-color);
  grid-area:1/-1
}

.arrival-card-section{
  display: grid;
  background-color: var(--background-color);  
  margin:2rem
}

.second-cta{
  display: grid;
  grid-area: 1/-1;
  justify-self: flex-end;
  width: 2rem;
  height: 2rem;
  margin:5px 1rem 0px 0px;
  color: var(--primary-color);
  cursor: pointer;
}

.hero-card > h1{
  background-color: var(--background-color);
  text-align: center;
  width: 100%;
  color: var(--cta-font-color);
}
