.filter{
    width: 60%;
    margin-left: 1rem;
}
.checkbox{
    height: 1.3em;
    width: 1.3em;
}

.sort{
    display: flex;
    align-items: center;
}

.sort > input {
    width:3rem;
    height:1.2rem;
    color:var(--primary-color)
}