.position-rel {
  position: relative;
}

.nav-icon-badge {
  position: absolute;
  top: -65%;
  right: -25%;
  color: var(--secondary-color);
  font-size: 1.3rem;
  width: 2rem;
  text-align: center;
  border-radius: 0.2em;
  padding: 0.1em;
}

.header-icons-div {
  width: 12rem;
}

.desktopNavbar {
  display: none;
}

.mobileNavbar {
  display: block;
}

.navbar-rightside-div {
  width:30rem;
}

@media screen and (min-width: 800px) {
  .mobileNavbar {
    display: none;
  }
  .desktopNavbar {
    display: block;  
  background-color: var(--primary-background-color);
  color: var(--cta-font-color);
  }
}
